{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4
      },
      "loose": true,
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
